.work-area__wrapper {
    margin: 50px auto;
    width: 500px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-area__wrapper h2 {
    padding: 20px 0;
    width: 470px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}

.work-area__wrapper-items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }